body{
  text-align: center;
  background-color: #F0F6FF;
}
button{
  background-color: #00C14F;
  border: none;
  border-radius: 4px;
  color: white;
  padding:5px;
  margin: 5px;
}
input{
  width: 400px;
  padding: 5px;
  border-radius: 4px;
  border-width: 1px;
  border-color:black;
}
.desc-head{
  height: 30px;
  background-color: #599FA1;
  padding-top: 8px;
  font-size: 20px;
}
.desc-body-right{
  /* background-color: #CEF8FF; */
  font-weight: 350;
  font-size: 15px;
  line-height: 1.6;
  padding: 10px;
  height: calc(100vh - 120px);
  overflow: auto;
}
.desc-body-left{
  height: auto;
  background-color: #CEF8FF;
  line-height: 1.5;
}
.desc{
  display: none;

}

.image{

  width: 250px;
  background-color: #CEF8FF;
  float: left;
  border-style: solid;
  border-width: 1px;
  font-weight: 350;
  font-size: 15px;
  /* height: auto; */
}
img{
  width: 200px;
  height: 200px;
  margin-top: 25px;
}
.title{
  text-decoration: none;
  color: black;
}
/* @media only screen and (min-width: 1200px) {
  .desc-body-right {
    height: 100vh;
  }
} */
hr{
  border-color: black;
  height: 0px;
}
